<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//94.242.229.4:8080/socket.io/socket.io.js"></script>
    <script src="/javascripts/cocos2d-beta2.min.js"></script>
    </head>
    <body>
      <div id="cocos2d-demo" style="width: 640px; height: 480px;"></div>

      <div id="d"></div>
      <input id="msg" type="text">
      <button id="btn">Send</button>

      <script src="/javascripts/character.js"></script>
      <script src="/javascripts/socket.js"></script>
      <script src="/javascripts/game.js"></script>
      <script>
        $(function() {
          Game.init(function(game) {
            var nick      = "Anonymous-"+Math.round(Math.random() * 1000)
            var character = new Character(nick);
            window.c = character;

            var characters = {};

            // Add character to the scene
            game.initChar(character);

            game.net.on('msg', function(data) {
              console.log(data);
              document.getElementById("d").innerHTML += "<p>"+data.name+": "+data.data+"</p>";
            });

            game.net.on('newCharacter', function(newCharacter) {
              console.log("Adding character. New: "+newCharacter.id+" character: "+character.name);
              var c = new Character(newCharacter.id);
              c.position = newCharacter.pos;
              characters[newCharacter.id] = c;

              game.addChild(c);
            });

            game.net.on('updateCharacter', function(c) {
              console.log(c);
              characters[c.id].position = c.pos;
            });

            game.net.on('removeCharacter', function(id) {
              game.removeChild(characters[id]);
              delete characters[id];
            });

            $("#btn").click(function() {
              game.net.emit("broadcast", {name: character.name, data: $("#msg").val()});
            });
          });
        });
      </script>
  </body>
</html>
